*{
    font-family: "Trebuchet MS"
}
body {
    margin: 0;
}
@media only screen and (max-width: 425px) {
    #signin-container, #signup-container {
        width: 80%;
    }
    #nav {
        padding: 15px 10px;
    }
    #nav > button {
        display: none;
    }
    .mobile {
        display: inline-block;
        margin-left: 15px;
    }
    #signin-container > h1, h1 {
        font-size: 25px;
    }
}
@media only screen and (min-width: 426px) {
    #signin-container, #signup-container {
        width: 350px;
    }
    #nav {
        padding: 15px 40px;
    }
    #nav > button {
        display: inline-block;
    }
    .mobile {
        display: none;
    }
    #signin-container > h1, h1 {
        font-size: 30px;
    }
}
@media only screen and (min-width: 1024px) {
    #signupflex {
        flex-direction: row;
    }
    #signup-container {
        flex: 30%;
    }
    #appsummary {
        flex: 70%;
    }
    #appsummary img {
        max-width: 80%;
    }
    #cart {
        flex: 30%;
        margin-right: 20px;
    }
    #menu {
        flex: 70%;
    }
}
@media only screen and (max-width: 1024px) {
    #signupflex, #customerdashboardflex {
        flex-direction: row;
    }
    #signup-container {
        flex: 40%;
    }
    #appsummary {
        flex: 60%;
    }
    #appsummary img {
        max-width: 90%;
    }
    #cart {
        flex: 40%;
        margin-right: 20px;
    }
    #menu {
        flex: 60%;
    }
}
@media only screen and (max-width: 980px) {
    #signupflex, #customerdashboardflex {
        flex-direction: column;
    }
    #signup-container {
        order: 2;
        align-self: center;
    }
    #appsummary {
        order: 1;
        margin-bottom: 40px;
    }
    #appsummary img {
        max-width: 90%;
    }
    #nav {
        border-bottom: 2px solid #d8d5d5;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background-color: white;
    }
    #signupflex {
        margin-top: 150px;
        margin-bottom: 10px;
        padding-bottom: 20px;
        border-bottom: 2px solid #d8d5d5;
    }
    #customerdashboardflex {
        margin-top: 150px;
    }
    #cart {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (min-width: 680px) {
    #steps div {
        width: 150px;
        height: 150px;
        margin: 15px;
        padding: 40px 20px;
    }
}
@media only screen and (max-width: 680px) {
    #steps div {
        width: 100px;
        height: 100px;
        padding: 23px 10px;
        font-size: 12px;
    }
}
@media only screen and (max-width: 450px) {
    #steps div {
        width: 80px;
        height: 80px;
        padding: 20px 10px;
        font-size: 10px;
    }
    #navavatar, #nav > h3 {
        display: none;
    }
}
@media only screen and (max-width: 370px) {
    #steps div {
        width: 60px;
        height: 60px;
        padding: 9px 5px;
        font-size: 8px;
    }
    
}
@media only screen and (min-width: 450px) {
    #nav > h3 {
        display: inline-block;
    }
}
#nav img {
    max-width: 100px;
}
#nav {
    height: 100px;
}
#nav > button {
    float: right;
}
.signup, .signin {
    background-color: black;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    width: auto;
    min-width: 104px;
    border: none;
    margin-top: 14px;
    padding: 15px;
    font-size: 12px;
}
#signin-container, #signup-container {
    border: 1px solid #d8d5d5;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    box-shadow: 2px 5px 4px #d8d5d5
}
#signin-container input, #signup-container input {
    display: inline-block;
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #f1f1f1;
}
#signin-container > h1, h1 {
    text-align: center;
    color: black;
}
#signin-container button, #signup-container button, #order {
    color: white;
    background-color: black;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    font-size: 12px;
    width: 100%;
    border-radius: 3px;
}
#forget {
    float: right;
}
#signupflex {
    display: flex;
}
#signup-container {
    padding: 10px;
    margin: 5px 20px;
}
#appsummary {
    padding: 20px;
    text-align: center;
}
#appsummary > p {
    font-size: 12px;
}
#steps {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}
#steps div {
    color: white;
    border-radius: 50%;
    background-color: rgb(241, 49, 15);
    text-align: center;
    box-sizing: border-box;
}
#steps span {
    font-size: 50px;
    color: rgb(241, 49, 15);
}
.customerdashboard {
    border-bottom: 2px solid #d8d5d5;
}
#navavatar, #navsetting{
    float: right;
    
}
#navavatar {
    border-radius: 50%;
    border: 3px solid rgb(241, 49, 15);
    width: 40px;
    margin-top: 20px;
}
#navsetting{
    width: 30px;
    margin-top: 35px;
    cursor: pointer;
}
#nav h3 {
    float: right;
    margin: 34px 30px 25px 10px;
}
#customerdashboardflex {
    display: flex;
}
#menu h1 {
    text-align: center;
    margin: 50px 0;
}
#cart {
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #d8d5d5;
    border-radius: 3px;
    height: 450px;

    box-shadow: 0 2px 5px -1px rgba(0,0,0, 0.3);
}
.meal {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.meal img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
#mealinfo {
    min-width: 30%;
    height: 150px;
    text-align: center;
    border: 1px solid #d8d5d5;
    margin: 5px 10px;
    flex-grow: 1;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 5px -1px rgba(0,0,0, 0.3);
    color: #57727c;
}
#addmealdiv {
    background-color: #dadada;
    height: 40px;
}
#addmeal {
    display: block;
    margin: 6px auto;
}
.cartorder {
    display: flex;
    flex-direction: row;
}
.cartorder * {
    flex: 1;
    text-align: center;
}
.cartorder input {
    width: 30px;
    margin: 18px 0;
}
.description {
    background-color: #dadada;
}
#cart h2 {
    float: right;
}
#cart h1 {
    text-align: left;
}
#items {
    overflow: auto;
    height:150px;
}
footer {
    height: 50px;
    color: white;
    background-color: black;
    margin-top: 20px;
    text-align: center;
    padding: 15px 0;
    box-sizing: border-box;
}