@media only screen and (max-width:580px) {
  .order-summary {
    width: 250px;
    margin-left: 10px;
  }
  h4 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  h3 {
    font-size: 15px;
  }
  h1 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 460px) {
  #order-summary-general {
    flex-direction: column;
  }
  .order-summary {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-width: 220px;
  }
}
@media only screen and (min-width: 580px) {
  .order-summary {
    margin-left: 10px;
    width: 270px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  h3 {
    font-size: 18px;
  }
  h1 {
    font-size: 23px;
  }
}
.order-summary {
  margin-top: 20px;
}
.order-summary {
  border: 1px solid #d8d5d5;
  padding: 20px;
  box-shadow: 2px 5px 4px #d8d5d5;
  box-sizing: border-box;
}
.order-summary {
  height: 160px;
}
#incoming-orders {
  margin-top: 15px;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #d8d5d5;
  border-radius: 3px;
  height: 450px;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
}
#incoming-orders h2, .message {
  text-align: center;
}
#incoming-orders {
  margin-right: 10px;
  margin-left: 10px;
  height: 700px;
}
#incoming-orders {
  margin-bottom: 15px;
}
#caterer-dashboard-flez {
  display: flex;
  flex-direction: column;
}
#order-summary-general {
  display: flex;
}
.orders-placed {
  height: 440px;
}
#paginate {
  text-align: center;
}

#order-container {
  border: 2px solid #e0dede;
  margin-top: 10px;
  border-radius: 3px;
}

#order-container > p {
  padding-left: 13px;
}