@media only screen and (max-width: 1024px) {
  #caterer-dashboard-flex {
    flex-direction: row;
  }
}
@media only screen and (max-width: 980px) {
  #caterer-dashboard-flex {
    flex-direction: column;
  }
}
@media only screen and (min-width: 1024px) {
  .menu, .create-menu {
    flex: 50%;
  }
}
@media only screen and (max-width: 1024px) {
  .menu, .create-menu {
    flex: 50%;
  }
}
@media only screen and (max-width: 980px) {
  .menu {
    margin-left: auto;
    margin-right: auto;
  }
  .menu {
    width: 95%;
  }
  .menu {
    order: 2;
  }
  .create-menu {
    order: 1;
  }
}
@media only screen and (min-width: 980px) {
  .add-meal, .menu {
    margin-left: 10px;
  }
}

#caterer-dashboard-flex {
  display: flex;
}
.create-menu button {
  color: white;
  background-color: black;
  padding: 14px 20px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  font-size: 12px;
  width: 100%;
  border-radius: 3px;
}
.create-menu, #incoming-orders {
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #d8d5d5;
  border-radius: 3px;
  height: 450px;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
}
.create-menu h1, #incoming-orders h1 {
  text-align: center;
}
.create-menu, #incoming-orders {
  margin-right: 10px;
  margin-left: 10px;
  height: 400px;
}
.menu {
  border: 1px solid #d8d5d5;
  padding: 20px;
  box-shadow: 2px 5px 4px #d8d5d5;
  box-sizing: border-box;
}
.menu {
  height: 400px;
}
#incoming-orders {
  margin-bottom: 80px;
  overflow-x: auto;
}
.dashboard {
  border-top: 2px solid #d8d5d5;
}
.menu, .order-summary {
  margin-top: 20px;
}
#items, .meals, .orders-placed, .meals-avaliable {
  overflow: auto;
}
.meals, .orders-placed {
  height: 200px;
}
.meals-avaliable {
  height: 170px;
}

.fa-plus {
  font-size: 22px;
  margin-top: 15px;
  cursor: pointer;
}

.remove-meal {
  padding-top: 15px;
  font-size: 20px;
  cursor: pointer;
}