@media only screen and (max-width: 425px) {
  .add-meal {
    width: 80%;
  }
}
@media only screen and (min-width: 426px) {
  .add-meal {
    width: 350px;
  }
}
@media only screen and (min-width: 1024px) {
  .add-meal {
    flex: 30%;
  }
  .added-meals {
    flex: 70%;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 1024px) {
  .added-meals {
    flex: 60%;
    margin-right: 10px;
  }
  .add-meal {
    flex: 40%;
  }
}
@media only screen and (max-width: 980px) {
  .add-meal {
    margin-left: auto;
    margin-right: auto;
  }
  .add-meal {
    width: 85%;
  }
  input[type=file] {
    width: 40%;
  }
}
@media only screen and (min-width: 980px) {
  .add-meal {
    margin-left: 10px;
  }
  input[type=file] {
    width: 50%;
  }
}
.add-meal {
  border: 1px solid #d8d5d5;
  padding: 20px;
  height: 400px;
  box-shadow: 2px 5px 4px #d8d5d5;
}
.add-meal .input {
  display: inline-block;
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #f1f1f1;
}
.add-meal {
  margin-top: 20px;
}
.add-meal {
  height: 356px;
}
.added-meals {
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #d8d5d5;
  border-radius: 3px;
  height: 450px;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
  margin-right: 10px;
  margin-left: 10px;
  height: 400px;
  margin-bottom: 80px;
}
.added-meals h1, h1 {
  text-align: center;
}
.add-meal .button {
  color: white;
  background-color: black;
  padding: 14px 20px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  font-size: 12px;
  width: 100%;
  border-radius: 3px;
}
.edit {
  width: 26px;
}
.modify {
  margin: 2px;
}
#caterer-dashboard-flex {
  display: flex;
}
.dashboard {
  border-top: 2px solid #d8d5d5;
}
input[type=file] {
  display: inline;
  border: none;
  padding: 15px 20px;
}
.uploadButton {
  color: white;
  background-color: black;
  padding: 9px 15px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 3px;
}