@media only screen and (max-width: 1024px) {
  #customer-dashboard-flex {
    flex-direction: row;
  }
}
@media only screen and (max-width: 980px) {
  #customer-dashboard-flex {
    flex-direction: column;
  }
  #cart {
    margin-left: auto;
    margin-right: auto;
  }
  #cart {
    width: 95%;
  }
  #cart {
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 1024px) {
  #menu {
    flex: 70%;
    margin-bottom: 80px;
  }
  #cart {
    flex: 30%;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  #menu {
    flex: 60%;
  }
  #cart {
    flex: 40%;
    margin-right: 20px;
  }
}
#customer-dashboard-flex {
  display: flex;
  border-top: 2px solid #d8d5d5;
}
#menu h1 {
  text-align: center;
  margin: 50px 0;
}
.meal {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  #add-meal {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .remove {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}

#meal-info {
  min-width: 30%;
  height: 60px;
  text-align: center;
  border: 1px solid #d8d5d5;
  margin: 5px 10px;
  flex-grow: 1;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.3);
  color: #57727c;
}
#add-meal-div {
  height: 40px;
  margin-top: 9px;
}

#add-meal, .remove {
  display: block;
  margin: 6px auto;
}
.cart-order, .order-info, .meals-added, #meal-info {
  display: flex;
  flex-direction: row;
}

.cart-order *, .order-info *, .meals-added *, #meal-info * {
  text-align: center;
}

.cart-order *, .order-info *, .meals-added *, #meal-price, #add-meal-div {
  flex: 1;
}

#meal-name {
  flex: 2;
}
#cart {
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #d8d5d5;
  border-radius: 3px;
  height: 450px;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
}

#meal-name {
  flex: 2;
}

.cart-order input, .meals-added input {
  width: 30px;
  margin: 18px 0;
}

.description {
  background-color: #dadada;
}

#cart {
  h2 {
    float: right;
  }
  h1 {
    text-align: left;
  }
}
#order {
  color: white;
  background-color: black;
  padding: 14px 20px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  font-size: 12px;
  width: 100%;
  border-radius: 3px;
}
#items {
  height: 150px;
}
#items {
  overflow: auto;
}