@media only screen and (min-width: 980px) {
  #cart {
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #d8d5d5;
    border-radius: 3px;
    height: 420px;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 350px;
    top: 280px;
    left: 61%;
    background-color: white;
  }
  #meal-info {
    width: 60%;
  }
}
@media only screen and (max-width: 980px) {
  #cart {
    position: fixed;
    width: 100%;
    bottom: 0;
    cursor: pointer;
    background-color: white;
  }

  #items-container {
    display: none;
    width: 95%;
    margin: 0 auto;
  }

  #cart h1 {
    text-align: center;
    background-color: #ca490a;
    padding: 10px;
    margin: 0;
    color: white;
  }

  #meal-info {
    width: 98%;
  }

  .meal {
    margin-bottom: 40px;
  }
}

.fa-plus {
  font-size: 18px;
  margin-top: 0;
}

@media only screen and (max-width: 580px) {
  p, .fa-plus{
      font-size: 12px;
  }
}

#customer-dashboard-flex {
  border-top: 2px solid #d8d5d5;
}

#customer-dashboard {
  border-top: 2px solid #d8d5d5;
}

#navigate {
  text-align: center;
}

#available-menu > #first {
  width: 90%;
  background-color: #ca490a;
  color: white;
  padding: 5px 12px;
  border-radius: 5px;
  margin: 20px auto;
}

#first h1 {
  font-size: 18px;
  text-align: left;
}

#first p {
  font-size: 12px;
  text-align: left;
}

#navigate {
  .enabled-button, .current-button {
    width: 20px;
    height: 30px;
    border-radius: 3px;
    margin: 8px 7px;
    cursor: pointer;
  }

  .enabled-button {
    background-color: #fff;
    color: #000;
  }

  .current-button {
    background-color: #000;
    color: #fff;
  }

  .current-button:hover {
    background-color: #fff;
    color: #000;
  }

  .enabled-button:hover {
    background-color: #000;
    color: #fff;
  }
}

#menu h1 {
  text-align: center;
  margin: 50px 0 10px;
}

.meal {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  
  #add-meal {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .remove {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}

.menu-main {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

#meal-info {
  height: 80px;
  margin: 5px 10px;
  flex-grow: 1;
  color: #000000;
  border-top: 1px solid #EBEBEB;
}

#add-meal-div p {
  display: inline;
  margin-right: 4px;
}

#meal-info > p {
  flex-grow: 2;
  width: 30%;
}

#menu-info {
  height: 300px;
  text-align: center;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  cursor: pointer;
}

#menu-info > div {
  height: 80%;
}

#meal-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.meal-image {
  width: 65px;
  height: 65px;
  border-radius: 0;
  padding: 8px 0;
  margin-left: 10px;
  margin-right: 20px;
}

#add-meal-div {
  height: 100%;
  text-align: right;
  padding-top: 10px;
  flex: 2;
}

#add-meal, .remove {
  display: block;
  margin: 6px auto;
}

.cart-order, .order-info, .meals-added, #meal-info {
  display: flex;
  flex-direction: row;
}

.cart-order *, .order-info *, .meals-added * {
  text-align: center;
}

.cart-order *, .order-info *, .meals-added *, .meal-price {
  flex: 1;
}

#business-address {
  margin-top: 8px;
  margin-bottom: 3px;
  text-align: left;
  font-size: 14px;
  color: #ababab;
}

.business-name {
  margin: 7px 0;
  font-size: 16px;
  text-align: left;
}

.menu-content-info {
  flex: 2;
  text-align: center;
}

.order-period {
  text-align: center;
}

.meals-added input {
  width: 70px;
  margin: 18px 0;
}

.cartdetails {
  padding-top: 10px;
}

.description {
  background-color: #dadada;
}

#cart {
  h3 {
    float: right;
  }
}

#order {
  color: white;
  background-color: black;
  padding: 14px 20px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  font-size: 12px;
  width: 100%;
  border-radius: 3px;
}

#items {
  height: 150px;
}

#items {
  overflow: auto;
}

.add-i {
  border: 2px solid #ca490a;
  border-radius: 3px;
  color: #ca490a;
}

.disabled {
  cursor: not-allowed;
  color: rgb(209, 206, 206);
  border: 2px solid rgb(209, 206, 206);
  border-radius: 3px;
}

.remove-meal-cart {
  padding-top: 30px;
  font-size: 20px;
  cursor: pointer;
}

.orderHistory {
  border: 1px solid #e0dede;
  margin-top: 10px;
  border-radius: 3px;
  p {
    padding-left: 13px;
  }
}

hr {
  width: 97%;
}

#customer-orders {
  margin-right: auto;
  margin-left: auto;
  height: 450px;
  width: 98%;
}

.caterer-info {
  height: 350px;
}

.caterer-info > div:first-child {
  height: 200px;
}

.caterer-info > div:nth-child(2) {
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EBEBEB;
}

.caterer-info > h3 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.caterer-info h2 {
  width: 90%;
  margin: 0 auto;
}

.caterer-info p {
  width: 90%;
  margin: 4px auto;;
}

.caterer-info img {
  border: 2px solid white;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.pagination {
  display: inline-block;
  padding-left: 0px;
  margin: 20px 0;
  border-radius: 4px;
 
  li{
    display: inline;
 
    a{
      position: relative;
      float: left;
      padding: 6px 12px;
      line-height: 1.5;
      text-decoration: none;
      color: black;
      background-color: white;
      border: 1px solid black;
      margin-left: -1px;
      border-radius: 3px;
    }
  }
 
  li.active {
    a {
      background-color: #ca490a;
      border: 1px solid #ca490a;
      color: white;
    }
  }
 }

 #customer-dashboard div:last-child {
   text-align: center;
 }
 #customer-order-dashboard{
  margin-left: auto;
  margin-right: auto;
 }
 table {
   width: 100%;
 }
 thead tr, tbody tr {
   height: 40px;
 }
 thead th, tbody td {
  width: 20%;
}
tbody tr {
  text-align: center;
}